.product__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 16px;
}

.product__describe {
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
}